body {
    background-color: #f4f2ed;
}

* {
    font-family: fantasy;
}

nav,
footer {
    background-color: rgb(0, 97, 53);
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 56px;
    font-weight: bold;
    text-transform: uppercase;
    animation: float 4s ease-in-out infinite;
    
}

button.btn-success {
    font-size: 32px;
    background-color: rgb(0, 97, 53);
    color: #f4f2ed;
}

button.btn-success:hover {
    background-color: #f4f2ed;
    color: rgb(0, 97, 53);
}

.estanteria {
    width: 40%;
    margin: 20px;
    perspective: 1000px;
    display: inline-block;
    vertical-align: top;
}

.estanteria h2 {
    background-color: #e8e6e1;
    color: #616161;
    padding: 10px;
    margin: 0;
    border-radius: 8px 8px 0 0;
}

.libro {
    width: 120px;
    height: 180px;
    margin: 10px;
    display: inline-block;
    transform: rotateY(25deg);
    transition: transform 0.3s;
    position: relative;    
}
.libro-info p {
    margin: 0; /* Para eliminar el espacio entre párrafos */
}
.libro-info {
    display: none;
    background-color: rgb(255, 255, 255, 1);
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0; 
    transform: translateY(-190px); /* Empuja el contenido hacia abajo */
    transition: transform 0.3s;
    width: 135%;
    border: 2px solid #000;
    border-radius: 5%;
}
.libro:hover {
    transform: rotateY(0deg);
}

.libro img {
    max-width: 115px;
    max-height: 140px;
    min-height: 140px;
    min-width: 115px;
    margin: 10px;
}
.libro :hover {
    max-width: 135px;
    max-height: 155px;
    min-height: 155px;
    min-width: 135px;
    margin: 3px;
}
p {
    font-size: 80%;
}


.titulo-libro {
    font-size: 14px;
    margin: 5px 0;
}

@keyframes float {

    0%,
    100% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, -10px);
    }

    50% {
        transform: translate(0, 0);
    }

    75% {
        transform: translate(0, 10px);
    }
}
.libro:hover {
    filter: brightness(135%);
    cursor: pointer; 
}

.libro:hover .libro-info {
    display: block;
}
.libro img{
    border: 1px solid black;
    border-radius: 5%;
}