body{
    background-color: gray;
}

*{
    font-family: 'Lucida Sans';
}

nav, footer{
    background-color: black;
    height: 100px;
}

.container h1{
    color: blue;
}

.container h2{
    font-style: italic;
}